@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

/*font-family: 'Open Sans', Helvetica, Arial, sans-serif;*/

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 10px;
    box-sizing: border-box;
    padding: 3rem;
}